# Python 관련 파일
__pycache__/
*.py[cod]
*$py.class

# Python 빌드 및 배포
build/
dist/
*.egg-info/
*.egg
.Python

# Windows 시스템 파일
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
ntuser.ini

# 개발 환경 파일
.cache/
.vscode/
.m2/
.p2/
.redhat/
eclipse-workspace/

# 기타
even_or_odd_checker.py
