# Python 관련 파일
__pycache__/
*.py[cod]
*$py.class

# Python 빌드 및 배포
build/
dist/
*.egg-info/
*.egg
.Python
*.py,cover
.coverage
.coverage.*

# Unit test / coverage
.tox/
.nox/
.cache/
.pytest_cache/
.hypothesis/

# Django
db.sqlite3
db.sqlite3-journal
*.log

# Flask
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# PyCharm
.idea/

# Windows 시스템 파일
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
Send
